.search-button {
    background-color: #4CAF50; /* Green */
    border-style:double;
    text-decoration-color: rgb(183, 0, 255);
    padding: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }

  #forecast-Row{
  display: flex;
  flex-direction: row;
  }

 #forecastTitle1  {
  font-size: 12px;
  font-weight: bold;
  background-color: #4c63af;
  
 
}

#forecastTitle2  {
  font-size: 12px;
  font-weight: bold;
  background-color: #4c63af;
 
}

#forecastTitle3  {
  font-size: 12px;
  font-weight: bold;
  background-color: #4c63af;
 
}

#forecastTitle4  {
  font-size: 12px;
  font-weight: bold;
  background-color: #4c63af;
 
 
}

#forecastTitle5  {
  font-size: 12px;
  font-weight: bold;
  background-color: #4c63af;
 
}
textarea{

  text-align: left;

}

